*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue:#3D7DCA;
    --navyblue:#003A70;
    --yellow:#FFCB05;
    --green :#0FC305;
    --red:#DD1616;
    --black:#080808;
    --white:#FFFFFF;
}

body{
    background-color: var(--black);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;         
}

h1 {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display:flex;
    flex-direction: column;
    text-wrap: wrap;
    border: 5px solid var(--blue);
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 350px;
    margin: 0 auto; 
}

input {
width:200px;
height: 30px;
border-radius: 8px;
margin-top: 25px;
border: 3px solid var(--blue);
}

button {
    background-color: var(--yellow);
    border: 3px solid var(--blue);
    border-radius: 8px;
    padding: 5px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

button:hover{
    background-color: var(--green);
}