*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black:#080808;
    --white:#FFFFFF;
    --blue:#3D7DCA;
    --navyblue:#003A70;
    --eaton-blue:#7AC89E;
    --yellow:#FFCB05;
    --yellow-red:#F4AB6F;
    --red:#E13620;
    --green:#0FC305;
 
}

body{
    background-color: var(--black);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;         
}

h1 {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
width:200px;
height: 30px;
border-radius: 8px;
margin-top: 25px;
border: 3px solid var(--blue);
}

button {
    background-color: var(--yellow);
    border: 3px solid var(--blue);
    border-radius: 8px;
    padding: 5px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

button:hover{
    background-color: var(--eaton-blue);
}

.container {
    display:flex;
    flex-direction: column;
    text-wrap: wrap;
    border: 6px solid var(--blue);
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 350px;
    margin: 0 auto; 
}

.output {
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    justify-content: center;
    margin: 10px 0;
    padding: 5px;
    box-sizing: border-box;
}

.top-container .bottom-container {
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    justify-content: center;
    min-height: 325px;
}

.name-and-id {
    height: 28px;
    font-size: 17.5px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.size {
    height: 22px;
    font-size: 13.5px;
}

.sprite-container {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#types {
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: var(--navyblue);
    text-wrap: wrap;    
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}