*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cadetblue: #5F9EA0;
    --blue:#1F7B98;
    --rose-dust : #A05F7E;
    --pale-brown: #A0825F;
    --black:#080808;
    --white:#FFFFFF;
}

body{
    background-color: var(--cadetblue);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;         
}

h1 {    
    margin: 30px auto;    
}

.container {
    display:flex;
    flex-direction: column;
    text-wrap: wrap;
    border: 3px solid var(--white);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    width: 450px;
    height: 750px;
    margin: 0 auto;    
}

input {
width:250px;
height: 30px;
border-radius: 8px;
margin-top: 25px;
border: 2px solid var(--black);
}

button {
    background-color: var(--pale-brown);
    border: 2px solid var(--black);
    border-radius: 8px;
    padding: 5px;
    width: 100px;
    height: 30px;
}